$text: #191919;
$back: #ffffff;

.library {
  position: fixed;
  background: $back;
  color: $text;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  //box-shadow: 2px 2px 20px#ffffff5b;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  color: $text;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  img {
    width: 30%;
  }
  &:hover {
    background: rgb(201, 224, 255);
  }
}
h2 {
  color: $text;
}
.song-description {
  padding-left: 1rem;
  color: $text;

  h3 {
    color: $text;
    font-size: 1rem;
  }
  h4 {
    color: $text;
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(249, 201, 255);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
