$text: #ffffff;
$back: #191919;

nav {
  display: flex;

  justify-content: space-around;
  align-items: center;

  min-height: 10vh;
  button {
    color: $text;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid $text;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $text;
      color: $back;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
