nav {
  display: flex;

  justify-content: space-around;
  align-items: center;

  min-height: 10vh;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgb(66, 66, 66);
      color: white;
    }
  }
}
