/* Global Style */
$text: #ffffff;
$back: #191919;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: $back;
  color: $text;
}

h1,
h2,
h3 {
  color: $text;
}

h3,
h4 {
  font-weight: 400;
  color: $text;
}

.App {
  transition: all 0.5s ease-in-out;
}
.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
